@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";

body {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6, label, input {
    font-family: 'Roboto Slab', serif;
}

form input, form select  {
    background-color: #444;
    border: 1px solid #333 !important;
    border-radius: 10px !important;
    padding: .5rem !important;
    letter-spacing: 0.1em !important;  
    color: #fff !important;
}


form input.button {
    height: auto !important;
    border-color: #333 !important;
    padding: .5rem 1rem !important;
    background-color: #003689 !important;
}
#mc_embed_shell {
    width: 100% !important;
}

#mc_embed_signup {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .mc-address-fields-group .mc-field-group {
        width: 100% !important;
    }
    #mc_embed_signup .mc-address-fields-group {
        flex-direction: column !important;
    }
}